html {
  scroll-behavior: smooth;
}

body {
	background-color: rgb(138, 207, 237);
	color: white;
}

h1 {
	font-size: 150px;
}

input {
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 20px;
	font-family: 'Lato', cursive;
	margin: 10px;
	display: inline-block;
}

#section-1 {
	height: 100vh;
	text-align: center;
}

#mochi-header {
	font-family: 'Cookie', cursive;
	margin: 0;
}

#squares-header {
	font-family: 'Lato', cursive;
	margin: -60px 0px 0px 0px;
}

#buy-btn {
	display: inline-block;
	font-family: 'Lato', cursive;
	background-color: blue;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	color: rgb(138, 207, 237);
	font-size: 40px;
	margin-top: 20px;
	transition: 0.3s all;
}

#buy-btn:hover {
	filter: grayscale(60%);
	transform: scale(1.05);
	cursor: pointer;
}

.arrow-btn {
  font-size:8vmin;
  bottom: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}

.arrow-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#section-2 {
	height: 100vh;
	text-align: center;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

#submit {
	width: 90px;
	height: 40px;
}